body{
    background-color: bisque;

}
h1{
    border-style: solid;
    border-width: 5px;
    width : "30%";
    padding : 20px;
    background-color:bisque;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: brown;
  border-color: black;
}

div.ab{

    border-style: solid;
  border-width: 5px;
  width: 20%;
  padding: 20px;
  font-size: 10px;
}
img.img{
    border-radius: 50%;
}
div.d{
    border-style: solid;
    border-width: 5px;
    margin-left: 360px;
    padding: 50px;
    margin-top: -807px;
    height: 700Px;
    font-size: 30px;

}

div.cl{
    border-style: solid;
    border-width: 5px;
    padding: 20px;
    margin-top: 30px;
}
h2{
    color: brown;
    font-size: 20px;
}
p{
    font-size: 15px
}
